<!-- Search Form-->
<style>
    .flash-sale-card
    {
        width: 150px !important;
        height: 200px !important;
       
        border: 1px solid #00000036 !important;
        border-radius: 5px !important;
        padding: 5px !important;
       

    }

    .imgh{
      max-height: 130px;
      min-height: 130px;
    }
</style>
      <!-- Search Form-->
      
      <!-- Hero Wrapper -->
      <div class="hero-wrapper" >
        <div class="container" >
          <div class="pt-3" >
            <!-- Hero Slides-->
            <div class="hero-slides owl-carousel" style="border:2px solid #00ff20 !important;border-radius: 10px;">
              <!-- Single Hero Slide-->
              <div class="single-hero-slide" style="background-image: url('/img/bg-img/2.jpg')">
                <div class="slide-content h-100 d-flex align-items-center">
                  <div class="slide-text">
                    </div>
                </div>
              </div>
              <!-- Single Hero Slide-->
              <div class="single-hero-slide" style="background-image: url('/img/bg-img/1.jpg')">
                <div class="slide-content h-100 d-flex align-items-center">
                  <div class="slide-text">
                    </div>
                </div>
              </div>
              <!-- Single Hero Slide-->
              <div class="single-hero-slide" style="background-image: url('/img/bg-img/3.jpg')">
                <div class="slide-content h-100 d-flex align-items-center">
                  <div class="slide-text">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container border">
        <div class="search-form   card p-3 mt-3 " style="border:2px solid #00ff2036 !important">

          <form action="#" method="" style="margin-right:8%;"  >
            <input class="form-control" type="search" placeholder="جستجو کردن مربیان">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <!-- Alternative Search Options -->

        </div>
      </div>
        <!-- Dark Mode -->
      <div class="container mt-3">
        <div class="dark-mode-wrapper  bg-img p-4 p-lg-5">
          <p class="text-white">با استفاده از حالت تاریک می توانید صفحه نمایش خود را به یک پس زمینه تاریک تغییر دهید.</p>
          <div class="form-check form-switch mb-0">
            <label class="form-check-label text-white h6 mb-0" for="darkSwitch">به حالت تاریک بروید</label>
            <input class="form-check-input" id="darkSwitch" type="checkbox" role="switch">
          </div>
        </div>
      </div>
      <!-- Top Products -->

     
       <div class="pb-3">
        <div class="container card">
          <div class="section-heading d-flex align-items-center justify-content-center dir-rtl m-3 btn btn-warning p-3">
           آخرین مربیان ثبت نامی :
          </div>
          <!-- Collection Slide-->
          <div class="collection-slide owl-carousel">
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/7.jpg" alt="" class="imgh"></a>
              <div class="collection-title "><span>آرام منش</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/8.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>قاسمی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/9.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>سعیدی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/18.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>اکبری</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/19.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>آقایی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/9.jpg" alt=""  class="imgh"></a>
              <div class="collection-title"><span>معینی</span></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-center">
                  <a href="/client/coach/listcoach" class="btn btn-link">لیست تمام مربیان </a>

      </div>

    </div>
    




       @* <div class="pb-3">
        <div class="container card">
          <div class="section-heading d-flex align-items-center justify-content-center dir-rtl m-3 btn btn-warning p-3">
            آخرین ورزشکاران ثبت نامی :
          </div>
          <!-- Collection Slide-->
          <div class="collection-slide owl-carousel">
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/7.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>آرام منش</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/8.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>قاسمی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/9.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>سعیدی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/18.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>اکبری</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/19.jpg" alt="" class="imgh"></a>
              <div class="collection-title"><span>آقایی</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/bg-img/9.jpg" alt=""  class="imgh"></a>
              <div class="collection-title"><span>معینی</span></div>
            </div>
          </div>
        </div>
      </div>
    </div> *@
      
      
      
    
      <div class="top-products-area ">
        <div class="container">

          <div class="section-heading d-flex align-items-center justify-content-center dir-rtl m-3 btn btn-warning p-3">
            آخرین پادکست ها:
          </div>
         
          <div class="row g-2">
            <!-- Product Card -->
            <div class="col-6 col-md-4">
              <div class="card product-card">
                <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>
                  <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart">                       </i></a>
                  <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img class="mb-2" src="/img/bg-img/padcast.jpg" alt="">
                    <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                   </a>
                  <!-- Product Title --><a class="product-title" href="single-product.html">چربی سوزی </a>
                  <!-- Product Price -->
                 
                  <!-- Rating -->
                  <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                  <!-- Add to Cart --><a class="btn btn-success btn-sm" href="#"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
            </div>
            <!-- Product Card -->
           <div class="col-6 col-md-4">
              <div class="card product-card">
                <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>
                  <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart">                       </i></a>
                  <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img class="mb-2" src="/img/bg-img/padcast.jpg" alt="">
                    <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                   </a>
                  <!-- Product Title --><a class="product-title" href="single-product.html">چربی سوزی </a>
                  <!-- Product Price -->
                 
                  <!-- Rating -->
                  <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                  <!-- Add to Cart --><a class="btn btn-success btn-sm" href="#"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
            </div>
            <!-- Product Card -->
           <div class="col-6 col-md-4">
              <div class="card product-card">
                <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>
                  <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart">                       </i></a>
                  <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img class="mb-2" src="/img/bg-img/padcast.jpg" alt="">
                    <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                   </a>
                  <!-- Product Title --><a class="product-title" href="single-product.html">چربی سوزی </a>
                  <!-- Product Price -->
                 
                  <!-- Rating -->
                  <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                  <!-- Add to Cart --><a class="btn btn-success btn-sm" href="#"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>

            </div>
            <!-- Product Card -->
          <div class="col-6 col-md-4">
              <div class="card product-card">
                <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>
                  <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart">                       </i></a>
                  <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img class="mb-2" src="/img/bg-img/padcast.jpg" alt="">
                    <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                   </a>
                  <!-- Product Title --><a class="product-title" href="single-product.html">چربی سوزی </a>
                  <!-- Product Price -->
                 
                  <!-- Rating -->
                  <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                  <!-- Add to Cart --><a class="btn btn-success btn-sm" href="#"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
            </div>
            <!-- Product Card -->
          
              <div class="text-center">
                <a href="/client/padcast/index" class="btn btn-link" >لیست تمام پادکست ها </a>

              </div>
     
      <!-- Weekly Best Sellers-->
      <div class="weekly-best-seller-area py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl btn btn-warning p-3">
            <h6> لیست محصولات </h6><a class="btn p-0" href="/client/Product/listProduct">
               مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <div class="row g-2">
            <!-- Weekly Product Card -->
            <div class="col-12">
              <div class="horizontal-product-card">
                <div class="d-flex align-items-center">
                  <div class="product-thumbnail-side">
                    <!-- Thumbnail --><a class="product-thumbnail shadow-sm d-block" href="single-product.html"><img src="/img/product/18.png" alt=""></a>
                  </div>
                  <div class="product-description">
                    <!-- Wishlist  --><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart"></i></a>
                    <!-- Product Title --><a class="product-title d-block" href="single-product.html">شیشه قهوه نسف</a>
                    <!-- Price -->
                    <p class="sale-price  mt-3"><i class="fa-solid fa-dollar-sign"></i>6000 تومان
                    </p>
                    <!-- Rating -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Weekly Product Card -->
            <div class="col-12">
              <div class="horizontal-product-card">
                <div class="d-flex align-items-center">
                  <div class="product-thumbnail-side">
                    <!-- Thumbnail --><a class="product-thumbnail shadow-sm d-block" href="single-product.html"><img src="/img/product/7.png" alt=""></a>
                  </div>
                  <div class="product-description">
                    <!-- Wishlist  --><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart"></i></a>
                    <!-- Product Title --><a class="product-title d-block" href="single-product.html">صندلی دفتر مدرن</a>
                    <!-- Price -->
                    <p class="sale-price mt-3"><i class="fa-solid fa-dollar-sign"></i>6000 تومان</p>
                    <!-- Rating -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Weekly Product Card -->
            <div class="col-12">
              <div class="horizontal-product-card">
                <div class="d-flex align-items-center">
                  <div class="product-thumbnail-side">
                    <!-- Thumbnail --><a class="product-thumbnail shadow-sm d-block" href="single-product.html"><img src="/img/product/12.png" alt=""></a>
                  </div>
                  <div class="product-description">
                    <!-- Wishlist  --><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart"></i></a>
                    <!-- Product Title --><a class="product-title d-block" href="single-product.html">عینک آفتابی ساحل</a>
                    <!-- Price -->
                    <p class="sale-price mt-3"><i class="fa-solid fa-dollar-sign"></i>4000 تومان</p>
                    <!-- Rating -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Weekly Product Card -->
            <div class="col-12">
              <div class="horizontal-product-card">
                <div class="d-flex align-items-center">
                  <div class="product-thumbnail-side">
                    <!-- Thumbnail --><a class="product-thumbnail shadow-sm d-block" href="single-product.html"><img src="/img/product/17.png" alt=""></a>
                  </div>
                  <div class="product-description">
                    <!-- Wishlist  --><a class="wishlist-btn" href="#"><i class="fa-solid fa-heart"></i></a>
                    <!-- Product Title --><a class="product-title d-block" href="single-product.html">غذای گربه مخلوط میو</a>
                    <!-- Price -->
                    <p class="sale-price mt-3"><i class="fa-solid fa-dollar-sign"></i>6000 تومان</p>
                    <!-- Rating -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


       @* Bmi *@

        <div class="text-center mt-3 mb-3  p-3 bg-white border-1 border-dark  " >
        <h3> محاسبه BMI</h3>
       
          <div class="form-group">
            <label for="height"> (in cm) قد</label>
            <input type="number" class="form-control" id="height" required />
          </div>
          <div class="form-group">
            <label for="weight"> (in kg) وزن</label>
            <input type="number" class="form-control" id="weight" required />
          </div>
          <button onclick="CalculateBMi()" class="btn btn-primary mt-3">محاسبه</button>
        
        <div id="result"  class="mt-3 alert alert-success p-3"></div>
       </div>
      @* End Bmi *@


      <!-- Discount Coupon Card-->
      <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between dir-rtl btn btn-warning p-3">
            <h6> بانک  حرکات </h6><a class="btn p-0" href="/client/movements/category">
               مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
      </div>
      <!-- Featured Products Wrapper-->
  
      <div class="pb-7" style="margin-bottom: 60px;">
        <div class="container">
         
          <!-- Collection Slide-->
          <div class="collection-slide owl-carousel">
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/17.jpg" alt=""></a>
              <div class="collection-title"><span class="badge bg-danger">حرکات بازو</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/19.jpg" alt=""></a>
              <div class="collection-title"><span class="badge bg-danger">حرکات پا</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/21.jpg" alt=""></a>
              <div class="collection-title"><span class="badge bg-danger">جرکات پشت</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/22.jpg" alt=""></a>
              <div class="collection-title"><span>اسباب</span><span class="badge bg-danger">11</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/23.jpg" alt=""></a>
              <div class="collection-title"><span class="badge bg-danger">حرکات پشت بازو</span></div>
            </div>
            <!-- Collection Card-->
            <div class="card collection-card"><a href="single-product.html"><img src="/img/product/24.jpg" alt=""></a>
              <div class="collection-title"><span class="badge bg-danger">حرکات ساعد</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>


   @section Script {
     <script>
        function CalculateBMi()
            {
                  debugger
                  const height = Number(document.getElementById("height").value); // get height value from input field and convert to a number
                  const weight = Number(document.getElementById("weight").value); // get weight value from input field and convert to a number

                  // compute BMI
                  const bmi = weight / ((height / 100) ** 2);

                  // display result
                  document.getElementById("result").innerHTML = `<strong> BMI :</strong> ${bmi.toFixed(
                    2  )}`;
              
            }

    </script>
   }