<div class="CardCenter2">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/img/bg-img/9.jpg" class="card-img-top" alt="Coach Image">
        <div class="card-body">
          <h5 class="card-title">Coach Name</h5>
         
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Coach Name</h5>
          <p class="card-text">Description of the coach goes here.</p>
          <hr>
          <h6 class="card-subtitle mb-2">Rate this coach:</h6>
          <div class="ratings">
            <span class="star-rating"><i class="fa fa-star"></i></span>
            <span class="star-rating"><i class="fa fa-star"></i></span>
            <span class="star-rating"><i class="fa fa-star"></i></span>
            <span class="star-rating"><i class="fa fa-star"></i></span>
            <span class="star-rating"><i class="fa fa-star-o"></i></span>
          </div>
          <hr>
          <h6 class="card-subtitle mb-2">User Comments:</h6>
          <div class="comment-box">
            <div class="comment">
              <div class="comment-author">User Name</div>
              <div class="comment-content">Comment goes here.</div>
            </div>
            <div class="comment">
              <div class="comment-author">User Name</div>
              <div class="comment-content">Comment goes here.</div>
            </div>
            <!-- Add more comments here -->
          </div>
          <hr>
          <form>
            <div class="form-group">
              <label for="comment">Leave a comment:</label>
              <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







</div>    