<div class="CardCenter2">

        @*  search Padcast *@
        <div class="search-form    p-1 mt-1 " >

          <form action="#" method="" style="margin-right:8%;"  >
            <input class="form-control" type="search" placeholder="جستجو کردن حرکات">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        
        </div>

        @* List Padcast *@

        <div class="container mt-3">
         <div class="row">

            @* one *@
            <div class="col-6" onclick="window.location.href='/client/movements/Details/1'">
               <div class="card">
               <img src="/img/bg-img/padcast.jpg" class="card-img-top" alt="Padcast Image">
               <div class="card-body">
                  <h6 class="card-title">Movement</h6>
               </div>
               </div>
            </div>

            @* two *@
            <div class="col-6">
               <div class="card">
               <img src="/img/bg-img/padcast.jpg" class="card-img-top" alt="Padcast Image">
               <div class="card-body">
                  <h6 class="card-title">Movement</h6>
               </div>
               </div>
            </div>
             @* one *@
            <div class="col-6">
               <div class="card">
               <img src="/img/bg-img/padcast.jpg" class="card-img-top" alt="Padcast Image">
               <div class="card-body">
                  <h6 class="card-title">Movement</h6>
               </div>
               </div>
            </div>

            @* two *@
            <div class="col-6">
               <div class="card">
               <img src="/img/bg-img/padcast.jpg" class="card-img-top" alt="Padcast Image">
               <div class="card-body">
                  <h6 class="card-title">Movement</h6>
               </div>
               </div>
            </div>



         </div>
         </div>




  
</div>